a {
    text-decoration: none;
    font-size: 60px;
    font-weight: 600;
    font-family: 'Hurricane', cursive;
    color: white;
    padding: 10px 10px 10px 0px;

}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
}

ul li {
    font-family: 'Hurricane', cursive;
    color: red;
    font-size: 25px;
    cursor: pointer;
}

