#CHARACTER_NAME {
    color: #333;
    font-size: 17.5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px 0px 0px 15px;
}

#ROLE {
    text-align: center;
    font-family: "Tagesschrift", system-ui;
    font-size: 15px;
    padding: 10px;
}