.PRODUCTCARD {
    border: 2px solid black;
    height: 750px;
    width: 300px;
    border-radius: 5px;
    margin: 20px 0px 0px 0px;
}

.PARENTOP {
    display: flex;
    justify-content: center;
    gap: 15px;
}

img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition: 0.2s all ease;
}

img:hover {
    transform: scale(1.1);
    border-radius: 5px;
}

#Characters_name {
    font-family: 'Hurricane', cursive;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    color: yellow;
}

#Role {
    font-family: 'Hurricane', cursive;
    padding: 0px 0px 0px 10px;
    color: white;
    font-size: 25px;
}

#Description {
    color: black;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    border-radius: 10px;
}

#Abilities {
    color: white;
    list-style: none;
    padding: 0px 20px 20px 20px;
    line-height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Abilities_Bold {
    color: blue;
    font-family: 'Hurricane', cursive;
    font-size: 30px;
}

#SeriesStartAge {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

#SeriesEndAge {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

h3 {
    color: red;
    font-family: 'Hurricane', cursive;
    font-size: 30px;
}